{% extends 'base.html.twig' %}

{% block title %}List of students{% endblock %}

{% block body %}

<div class="students-wrapper">
<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Last name</th>
		<th>Sex</th>
		<th colspan="2">Options</th>
	</tr>
	
	{% for student in students %}
	<tr>
		<td>{{ student.id }}</td>
		<td>{{ student.name }}</td>
		<td>{{ student.lastname }}</td>
		<td>{{ student.sex }}</td>
		<td><a href="/delete-student/{{ student.id }}">Delete</a></td>
		<td><a href="/edit-student/{{ student.id }}">Edit</a></td>
	</tr>
    {% endfor %}
	
	
</table>
</div>
{% endblock %}
